doctype html
html(lang="en")
    head
      title Code of Conduct for Eri-PAN members
      meta(charset="utf-8")
      meta(
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
      link(
        rel="stylesheet"
        href="style.pcss"
      )
      link(
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet"
  )
    body
      header
        h1#logo Eri-PAN
        nav
          a(href="index.pug") Back

      main.code-of-conduct
        h1
         | Code of conduct for Eri-PAN members
        p
         | The code of conduct is a list of statements that describes the standards of an individual to become member of the Eritrean professional association in the Netherlands. These codes must be fullfilled by every member of the association and anyone who fails to meet them shall be disqualified from the association.

        div.code-of-conduct
          h2 Article 1
            p Eri-PAN member should embrace the bylaws of the association and its provisions.

          h2 Article 2
            p Eri-PAN is a non-religious, no-political, non-racial and solely focused on bringing Eritrean professionals in the Netherlands together for the activities stated in the bylaws.

          h2 Article 3
            p Every member should be willing and reliable to participate in the activities of Eri-PAN. Members whose membership is inactive for 6 months, their membership will be nullified.

          h2 Article 4
            p Eri-PAN members will seek to uphold the reputation of the association and values.

          h2 Article 5
            p Members will at all times behave in a respectful manner. Discrimination based on age, race, color, gender identity, sexual preference, religious belief or lack thereof, political persuasion, or national origin will not be tolerated.

          h2 Article 6
            p Members will not knowingly be party to the dissemination of false or misleading information, and will not deliberately withhold information about the association.

          h2 Article 7
            p Eri-PAN Members will not engage in conduct that will bring the profession ... into disrepute.

          h2 Article 8
            p Members will act with integrity towards colleagues and fellow members.

          h2 Article 9
            p Members will encourage and support colleagues in their professional development.

          h2 Article 10
            p Eri-PAN Executive board and committee will take disciplinary measures for members who defy the code of conduct of Eri-PAN.









        
      footer
        a(href="code-of-conduct.pug") Eri-PAN
        div#contact-us
          a(href="mailto:office@eripan.org") Contact us:
          p e-mail: office@eripan.org
          aside
              | &copy; 2020 Eri-PAN
