doctype html
html(lang="en")
    head
      title Eri-PAN events
      meta(charset="utf-8")
      meta(
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
      link(
        rel="stylesheet"
        href="style.pcss"
      )
      link(
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet"
  )
    body
      header
        h1#logo Eri-PAN
        nav
          a(href="index.pug") Back

      main.events
        h1 Eri-PAN upcoming events
        li TBD: An event in September

        h1 Eri-PAN past events
        li First in person event in collaboration with ESA(Eritrean Students Association) on 18th of June 2022
        li Second virtual event on 27th of February 2021
        li Launching of Eri-PAN on 14th of November 2020

      footer
          a(href="events.pug") Eri-PAN
          div#contact-us
              a(href="mailto:office@eripan.org") Contact us:
              p e-mail: office@eripan.org
              aside
                  | &copy; 2020 Eri-PAN
