doctype html
html(lang="en")
    head
      title Eritrean professional association Netherlands
      meta(charset="utf-8")
      meta(
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
      link(
        rel="stylesheet"
        href="style.pcss"
      )
      link(
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet"
  )

    body
      header
        h1#logo Eri-PAN
        nav
          a(href="#about-us") Our Team
          a(href="#membership") Membership
          a(href="events.pug") Events
          a(href="job-board.pug") Job board
          a(href="code-of-conduct.pug") Code of Conduct
          a(href="#contact-us") Contact


      main
        h1
          | Eritrean Professional Association in the Netherlands

        p
          | Eri-PAN is a non-profit, non-political, non-religious association dedicated to serve professional, social and economic well-being of Eritrean community in the Netherlands. Eri-PAN aspires to provide a platform for the Eritrean, Eritrean-Dutch professionals and play its role in creating a strong professional community.

        div
          h2 Our Objectives
          p To create a thriving, active and influential Eritrean professionals community.
          p To help Eritrean professionals and the Eritrean community flourish in the Dutch workforce and be active member of the society.
          p To act as an interface between Eritrean community and Eritrean Professionals – act like a bridge channel.

          h2 Our Mission
          p To promote and empower Eri-Dutch professionals in the Netherlands and contribute in solving the challenges of career and self-development.

          h2 Our Activities:
          li Professional Networking
          li Invite guest lecturers
          li Professional Discussion Forums
          li Meet and greet events with companies
          li Social events, pub quiz
          li Seminars and Workshops
          li Skills development (leadership, entrepreneurship, communication, job interview, computer and IT)
          li Mentorship and empowerment
          li Facilitate personal development and professional empowerment by providing mentorship and peer-to-peer support using its vast network of human capital

          h2#membership Membership:
          p  Why would you consider joining?
          li Establishing progressive networks around the city or country
          li Increase visibility and professionalism as Eri-PAN becomes Professional Talent Pool
          li Facilitates personal development and professional empowerment
          li Contribute to the growth of the community
          li Eri-PAN  links and promotes its members with potential employers and business partners thereby serving as a bridge between business and Eri-PAN Talent Pool.
          li Membership is open to all Eritreans who reside legally in the Netherlands and abide by the <a href="code-of-conduct.pug"> code of conduct of Eri-PAN.</a>
          li To support your association and help to better serve the Eritrean professional community

          h2#about-us Founders of Eri-PAN
          p Fana Mehari - A software developer working in Amsterdam
          p Milka Yemane - Director of Stichting Lemat
          p Yonas Kiflom - A financial accountant working in Amsterdam
          p Misghina Zerai - A lead design engineer working in Eindhoven



      footer
        a(href="/") Eri-PAN
        div#contact-us
          a(href="mailto:office@eripan.org") Contact us:
          p e-mail: office@eripan.org
          aside
              | &copy; 2020 Eri-PAN
