doctype html
html(lang="en")
    head
      title Eri-PAN job-board
      meta(charset="utf-8")
      meta(
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
      link(
        rel="stylesheet"
        href="style.pcss"
      )
      link(
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet"
  )
    body
      header
        h1#logo Eri-PAN
        nav
          a(href="index.pug") Back

      main.job-board
        h1 Job, entrepreneurship and internship information
        li
          a(href="https://www.hackyourfuture.net/") Hack your future
        li
          a(href="https://forwardincubator.com/") Forward incubator

      footer
          a(href="events.pug") Eri-PAN
          div#contact-us
              a(href="mailto:office@eripan.org") Contact us:
              p e-mail: office@eripan.org
              aside
                  | &copy; 2020 Eri-PAN
