@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    @apply text-gray-700;
    font-family: 'Quicksand', sans-serif;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/sprinkles/");
}

main {
    @apply mx-auto;
    @apply px-6;
    @apply max-w-screen-md;
    @apply py-24;
    @apply text-justify;
}

header {
    @apply flex;
    @apply flex-wrap;
    @apply items-center;
    @apply justify-between;
    @apply bg-white;
    @apply border-b-2;
    @apply border-gray-600;
}

nav {
    @apply ml-auto;
    @apply px-6;
    @apply pr-12;
    @apply justify-between;
}
nav a {
    @apply p-2;
}
main {
    @apply mx-auto;
    @apply px-6;
    @apply max-w-screen-md;
    @apply py-24;
}

h1 {
    @apply pb-6;
    @apply text-4xl;
    @apply text-center;
}

h2 {
    @apply text-center;
    @apply my-10;
    @apply text-2xl;
}
p {
    @apply pb-2;
    @apply leading-loose;
    @apply text-xl;
}

li {
    @apply my-6;
}

footer {
    @apply flex;
    @apply flex-wrap;
    @apply items-center;
    @apply justify-between;
    @apply bg-gray-100;
    @apply border-t-2;
    @apply border-gray-200;
    @apply p-6;
}
.paragraph p {
    @applu text-justify;
}

#logo {
    @apply p-8;
}


#about-us {
    @apply justify-center;
}
a[href] {
  color: #1184CE;
}
.code-of-conduct p {
    @apply text-justify;
}
